{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Científico Moderno</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Blog Científico Moderno</h1>
        <p>Inovações e descobertas científicas</p>
        <div class="cta">
            <a href="#articles">Comece a Ler</a>
        </div>
    </header>
    <nav>
      <a href="{% url 'home' %}">Início</a>
      <a href="{% url 'blog' %}">Blog</a>
        <a href="#contact">Contato</a>
    </nav>
    <div class="container" id="articles">
        <div class="article">
            <img src="https://via.placeholder.com/150" alt="Artigo">
            <div class="article-content">
                <h2>Descobertas Recentes em IA</h2>
                <p>Explore como a inteligência artificial está revolucionando a ciência e a tecnologia ao redor do mundo.</p>
                <a href="#" class="read-more">Leia Mais</a>
            </div>
        </div>
        <div class="article">
            <img src="https://via.placeholder.com/150" alt="Artigo">
            <div class="article-content">
                <h2>O Futuro da Energia Renovável</h2>
                <p>Um mergulho nas novas tecnologias de energia limpa que prometem transformar o planeta.</p>
                <a href="#" class="read-more">Leia Mais</a>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Blog Científico Moderno</p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </footer>
</body>
</html>

